{% extends 'template/temp.twig' %}

{% block title 'Información del sistema' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6" style="text-align: center;">
      <img src="{{resource('img/logo_letra.png')}}" style="width:60%;" class="card-img-top" alt="...">
    </div>
    <div class="col-sm-12 col-md-6" style="text-align: justify; font-size: 24px;">
      <p>El sistema punto de venta es desarrollado por garaco software, si necesitas alguna
      mejora o requieres algo mas, comunicate con nosotros, enviar mensaje al siguente correo: ale17garaco@gmail.com
     </p>
     <br>
     <p style="text-align: center;" >Gracia por usar nuestro sistema</p>
    </div>
  </div>
</div>

{% endblock %}
